OEM_APP_NAME=DeskForce
OEM_ID_SERVER=78.29.49.98
OEM_RELAY_SERVER=78.29.49.98
OEM_KEY_PUB=replace_with_hbbs_public_key
OEM_API_SERVER=https://deskforce.dr6ter.ru
RUSTDESK_SRC=./rustdesk-src
RUSTDESK_TAG=1.4.6
RDGEN_SERVER=https://rdgen.crayoneater.org
